/*========== Color Variables ==========*/

$text-color: #777;
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$grid-color-one: #927bc1;
$grid-color-two: #fd7856;
$grid-color-three: #deb2ee;
$grid-color-four: #7ee6fd;
$grid-color-five: #88d9a0;
$grid-color-six: #4da2bb;
$grid-color-seven: #ec9fa3;
$grid-color-eight: #fd9f85;
$grid-color-nine: #e4757a;
$grid-color-ten: #63cc82;
$grid-color-eleven: #80e8d1;



/*========== Media Query Breakpoint ==========*/

$break-box: 768px;
